{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- Masthead-->
    <header class="masthead">
        <div class="container d-flex h-100 align-items-center">
                    <img class="img-fluid" src="{% static 'img/maddenRico.png' %}" alt="Madden rico" style="  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: 30%;"/>
            <div class="mx-auto text-center">
                <h1 class="mx-auto my-0 text-uppercase">You ready for SOME FOOTBALL?</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5"> ~ TAs feel free to give us an A+ ~</h2>
                <a class="btn btn-primary js-scroll-trigger" href="#search">Find Game</a>
                <a class="btn btn-primary js-scroll-trigger" href="#add">Add Game</a>
                <a class="btn btn-primary js-scroll-trigger" href="#delete">Delete Game</a>
                <a class="btn btn-primary js-scroll-trigger" href="#update">Update Game</a>
            </div>

        </div>
    </header>

    <header class="masthead">
    <section class="about-section text-center" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                        <br id='delete'>
                        <h1 style ="font-size:50px">This is the Delete Form</h1>
                        <form class="form-inline d-flex" action="{% url 'deletegame' %}" method="get">
                        {% csrf_token %}
                        <label for="game_id_delete" style="font-size: 35px; color:grey">What game id to delete:</label>
                        <br><br>
                        <input type="text" id="game_id_delete" name="game_id_delete"> 
                        <br><br>
                        <br><br><button class="btn btn-primary mx-auto" type="submit" value="Delete">Delete</button>
                        </form>
                    </p>
                </div>
            </div>
            <img class="img-fluid" src="{% static 'img/steak.gif' %}" alt="Steak Chuck" style="  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;"/>
        </div>
    </section>
  </header>


<header class="masthead">
    <section class="about-section text-center" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                        <br id="search" >
                        <h1 style ="font-size:50px">This is the Read Form</h1>
                        <form class="form-inline d-flex" action="{% url 'specificgame' %}" method="get">
                        {% csrf_token %}
                        <label for="game_id_display" style="font-size: 35px; color:grey">What game id:</label>
                        <br><br>
                        <input type="text" id="game_id_display" name="game_id_display"> <br>
                        <br><br>
                        <button class="btn btn-primary mx-auto" type="submit" value="Save">Search</button>
                </form>
                    </p>
                </div>
                            <img class="img-fluid" src="{% static 'img/datingprofileRico.jpg' %}" alt="Rico Photoshoot" style="  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;"/>
            </div>

        </div>
    </section>
  </header>


  <header class="masthead">
    <section class="about-section text-center" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                <br  id="add">
                <h1  style ="font-size:50px">This is the Add Form</h1>
                <form name="form" method="post" action="{% url 'addgame' %}">
                {% csrf_token %}
                <label for='home_team'  class="text-white-50">Enter the Home Team:</label>
                <input type="text" name='home_team' id='home_team'> <br>
                <label for='away_team' class="text-white-50">Enter the Away Team:</label>
                <input type="text" name='away_team' id='away_team'><br>
                <label for='date_played' class="text-white-50">Enter the Date Played:</label>
                <input type="date" name='date_played' id='date_played'> <br>
                <label for='home_team_score' class="text-white-50">Enter the Home Score:</label>
                <input type="text" name='home_team_score' id='home_team_score'> <br>
                <label for='away_team_score' class="text-white-50">Enter the Away Score:</label>
                <input type="text" name='away_team_score' id='away_team_score'> <br><br>
                <button class="btn btn-primary mx-auto" type="submit" value="Save">Add</button>
                <br><br>    
                </form>
                    </p>
                </div>
            </div>
        <img class="img-fluid" src="{% static 'img/RicoFootballWithVan.jpg' %}" alt="practice" style="  display: block;
            margin-left: auto;
            margin-right: auto;
            size: auto;"/>
        </div>
    </section>
            <br><br><br><br><br><br><br><br><br><br>

  </header>

    <header class="masthead">
    <section class="about-section text-center" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                <br id='update'>
                <h1 style ="font-size:50px">This is the Update Form</h1>
                <form name="form" method="post" action="{% url 'updategame' %}">
                {% csrf_token %}
                <label for='update_game_id'  class="text-white-50">Enter the game ID:
                <input type="text" name='update_game_id' id-"update_game_id">
                <br>
                <label for='home_team' class="text-white-50">Enter the Home Team:</label>
                <input type="text" name='home_team' id='home_team'> 
                <br>
                <label for='away_team'  class="text-white-50">Enter the Away Team:</label>
                <input type="text" name='away_team' id='away_team'>
                <br>
                <label for='date_played' class="text-white-50">Enter the Date Played:</label>
                <input type="date" name='date_played' id='date_played'>
                <br> 
                <label for='home_team_score' class="text-white-50">Enter the Home Score:</label>
                <input type="text" name='home_team_score' id='home_team_score'> 
                <br>
                <label for='away_team_score' class="text-white-50">Enter the Away Score:</label>
                <input type="text" name='away_team_score' id='away_team_score'>
                <br><br>
                <button class="btn btn-primary mx-auto" type="submit" value="Save">Update</button>
                    </p>
                </div>
            </div>
        </div>
    </section>
  </header>       
{% endblock %}